html
{
    font-size: calc(100vw/1920*16);
}
body,div
{
    position:fixed;
    margin:0;padding:0;
    height:100%;
    width:100%;
}
.login
{
    position:relative;
    float:left;
    width:99%;
    height:3%;
    font-size:1.25rem;
    border-color:blue;
    border-width:0.05rem;
    border-style:solid;
}
/*主信息窗体*/
.main
{
    position:relative;
    float:left;
    width:99%;
    top:0%;
    height:96%;
    border-color:red;
    border-width:0.05rem;
    border-style:solid;
}
/*标题*/
.title
{
    position:relative;
    float:left;
    width:100%;
    top:0%;
    height:6%;
    display:table;
    font-size:2rem;
    border-color:yellow;
    border-width:0.05rem;
    border-style:solid;
}
.image_info
{
    position:relative;
    float:left;
    width:100%;
    top:0%;
    height:3%;
    display:table;
    font-size:1rem;
    border-color:yellow;
    border-width:0.05rem;
    border-style:solid;
}

.major{
    position:relative;
    float:left;
    width:100%;
    top:0%;
    height:90%;
    display:table;
    font-size:1rem;
    border-color:yellow;
    border-width:0.05rem;
    border-style:solid;
}

.page_image
{
    position:relative;
    float:left;
    width: 512px;
    top:0%;
    height:99%;
    font-size:1rem;
    border-color:red;
    border-width:0.05rem;
    border-style:solid;
}

.image_disp
{
    position:relative;
    float:left;
    width: 512px;
    top:0%;
    height:512px;
    font-size:1rem;
    border-color:blue;
    border-width:0.05rem;
    border-style:solid;
}


.polygon_info
{
    position:relative;
    float:left;
    width: 512px;
    top:0%;
    height:6%;
    font-size:1rem;
    border-color:blue;
    border-width:0.05rem;
    border-style:solid;
}
/*偏旁部首信息*/
.chinese_character
{
    position:relative;
    float:left;
    width: 48%;
    top:0%;
    height:99%;
    font-size:1rem;
    border-color:green;
    border-width:0.05rem;
    border-style:solid;
}
.elem_total
{
    position:relative;
    float:left;
    width: 99%;
    top:0%;
    height:75%;
    font-size:1rem;
    border-color:green;
    border-width:0.05rem;
    border-style:solid;
}
.elem_next
{
    position:relative;
    float:left;
    width: 99%;
    top:0%;
    height:32px;
    font-size:1rem;
    border-color:green;
    border-width:0.05rem;
    border-style:solid;
}
.add_elem
{
    position:relative;
    float:left;
    width: 99%;
    top:0%;
    height:128px;
    font-size:1rem;
    border-color:green;
    border-width:0.05rem;
    border-style:solid;
}
.add_elem_image
{
    position:relative;
    float:left;
    width: 128px;
    top:0%;
    height:128px;
    font-size:1rem;
    border-color:green;
    border-width:0.05rem;
    border-style:solid;
}
.add_elem_desc
{
    position:relative;
    float:left;
    width: 36%;
    top:0%;
    height:98%;
    font-size:1rem;
    border-color:green;
    border-width:0.05rem;
    border-style:solid;
}
.add_elem_submit
{
    position:relative;
    float:left;
    width: 8%;
    top:0%;
    height:122px;
    font-size:1rem;
    border-color:green;
    border-width:0.05rem;
    border-style:solid;
}
.update_elem_submit
{
    position:relative;
    float:left;
    width: 12%;
    top:0%;
    height:122px;
    font-size:1rem;
    border-color:green;
    border-width:0.05rem;
    border-style:solid;
}


.add_character_elem
{
    position:relative;
    float:left;
    width: 99%;
    top:0%;
    height:128px;
    font-size:1rem;
    border-color:green;
    border-width:0.05rem;
    border-style:solid;
}
/*汉字偏旁关系添加所用图片*/
.add_character_image{
    position:relative;
    float:left;
    width: 128px;
    top:0%;
    height:128px;
    font-size:1rem;
    border-color:green;
    border-width:0.05rem;
    border-style:solid;
}
.character_operator{
    position:relative;
    float:left;
    width: 80%;
    top:0%;
    height:128px;
    font-size:1rem;
    border-color:green;
    border-width:0.05rem;
    border-style:solid;
}
.character_operator_info{
    position:relative;
    float:left;
    width: 99%;
    top:0%;
    height:40px;
    font-size:1rem;
    border-color:green;
    border-width:0.05rem;
    border-style:solid;
    overflow:auto;
}
.character_operator_delete{
    position:relative;
    float:left;
    width: 99%;
    top:0%;
    height:40px;
    font-size:1rem;
    border-color:green;
    border-width:0.05rem;
    border-style:solid;
}
.character_operator_add{
    position:relative;
    float:left;
    width: 99%;
    top:0%;
    height:40px;
    font-size:1rem;
    border-color:green;
    border-width:0.05rem;
    border-style:solid;
}
.add_character_desc
{
    position:relative;
    float:left;
    width: 89%;
    top:0%;
    height:99%;
    font-size:0.75rem;
    border-color:green;
    border-width:0.05rem;
    border-style:solid;
}

.add_character_submit
{
    position:relative;
    float:left;
    width: 9%;
    top:0%;
    height:99%;
    font-size:0.75rem;
    border-color:green;
    border-width:0.05rem;
    border-style:solid;
}

/*标注区域*/
.labeling_div
{
    position:relative;
    float:left;
    width: 24%;
    top:0%;
    height:99%;
    font-size:1rem;
    border-color:green;
    border-width:0.05rem;
    border-style:solid;
}
.log
{
    position:relative;
    float:left;
    width: 99%;
    top:0%;
    height:16rem;
    font-size:1rem;
    border-color:green;
    border-width:0.05rem;
    border-style:solid;
    overflow:auto;
}

.elem_selected_disp
{
    position:relative;
    float:left;
    width: 99%;
    top:0%;
    height:64px;
    font-size:1rem;
    border-color:green;
    border-width:0.05rem;
    border-style:solid;
    overflow-y:auto;
}

.character_assist{
    position:relative;
    float:left;
    width: 99%;
    top:0%;
    height:64px;
    font-size:1rem;
    border-color:blue;
    border-width:0rem;
    border-style:solid;
}
.assist_image_disp{
    position:relative;
    float:left;
    width: 80%;
    top:0%;
    height:64px;
    font-size:1rem;
    border-color:red;
    border-width:0rem;
    border-style:solid;
}
.assist_text{
    position:relative;
    float:left;
    width: 18%;
    top:0%;
    height:60px;
    font-size:1rem;
    border-color:yellow;
    border-width:0.05rem;
    border-style:solid;
}
.statistic{
    position:relative;
    float:left;
    width: 99%;
    top:0%;
    height:256px;
    font-size:1rem;
    border-color:red;
    border-width:0.05rem;
    border-style:solid;
}
