<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Data：{{title}}</title>
        <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
        <script src="http://www.chinaudio.tech/static/js/ocr_labeling.js"></script> 
        <script src="/static/js/gDBox.pkg.min.js"></script>
        <link href="http://www.chinaudio.tech/static/css/ocr_labeling.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="http://cdn.chinaudio.tech/static/image/favicon.ico" mce_href="http://cdn.chinaudio.tech/static/image/favicon.ico" type="image/x-icon">
    </head>
    <script>
        var gMap;
        const gFetureStyle = new gDBox.Style({strokeColor: '#0000FF', lineWeight: 1});
    </script>
    <body >
        <div class="login" id="login" >
            <a href="/ocr/index/">Home</a>
            {% include "login_info_base.html" %}
        </div>
        <div class="main" id="main" >
            <div class="title" id="title">
                ocr标注数据库:{{title}}
                &nbsp&nbsp
                <a href="/ocr/content_labeling/" style="font-style:italic;color:green">文字内容标注</a>
            </div>
            <div class="image_info" id="image_info">
            </div>
            <div class="page_image" id="page_image">
                <div class="page_image_disp" id="page_image_disp">
                </div>
                <div class="page_image_tool" id="page_image_tool">
                    <div class="page_image_tool_a" id="page_image_tool_a">
                        <div class="page_image_tool_select" id="page_image_tool_select" >
                            <table style="width:99%" border="">
                                <tr>
                                    <td>
                                        <label style="font-size:1.25rem">
                                            <input type="radio" name="labeling_mode" id="manual_select" value="manual_select"  onchange="labeling_mode=this.value"/>
                                            手动标注
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label style="font-size:1.25rem">
                                            <input type="radio" name="labeling_mode" value="recommend_select" id="recommend_select"  checked=true  onchange="labeling_mode=this.value"/>
                                            自动标注
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label style="font-size:1.25rem">
                                            <input type="radio" name="labeling_mode" value="merge_select" id="merge_select" onchange="labeling_mode=this.value"/>
                                            标注融合
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td >
                                        <label style="font-size:1.25rem;width:100%">
                                            <input type="radio" name="labeling_mode" value="clear_select" id="clear_select" onchange="labeling_mode=this.value"/>
                                            区域删除
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="font-size:1.25rem;width:100%" type="button" id="delete_all_polygon" value="整页删除" onclick="delete_all_polygon({{image_id}})"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label style="font-size:1.25rem;width:49%">
                                            <input style="font-size:1.25rem" type="radio" name="gdbox_mode" value="pan" checked="false" onchange="set_gdbox_mode(this.value,gFetureStyle)" />
                                            缩放
                                        </label>
                                        <label style="font-size:1.25rem;width:49%">
                                            <input style="font-size:1.25rem" type="radio" name="gdbox_mode" value="draw_rect" checked="true" onchange="set_gdbox_mode(this.value,gFetureStyle)" />
                                            选择
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="page_image_tool_tip" class="page_image_tool_tip" >
                        </div>
                    </div>
                    <div class="page_image_rotate" id="page_image_rotate" style="height:6.25%">
                        <input type="number" id="rotate_degree" min="-5" max="5" value={{current_rotate}} step="0.5" style="height:89%;font-size:1.25rem;width:15%"/>
                        <input type="button" id="rotate_degree_reset" onclick="rotate_degree_reset({{image_id}})" value="旋转" style="height:99%;font-size:1.25rem;width:18%"/>
                        <input type="button" id="rotate_degree_evaluate" onclick="rotate_degree_evaluate({{image_id}})" value="评估" style="height:99%;font-size:1.25rem;width:19%"/>
                        <select id="document_direction" value="vertical" style="width:23%;height:99%;font-size:1.25rem"  onchange="direction_select(this.value,{{image_user_conf_id}})">
                            <option value="vertical">竖直</option>
                            <option value="horizontal">水平</option>
                        </select>
                        <input type="button" id="direction_apply_pdf" onclick="direction_pdf({{ocr_pdf_id}},{{is_vertical}})" value="全书应用" style="height:99%;font-size:1.25rem;width:19%"/>

                    </div>
                    <div class="image_user_conf" id="image_user_conf" style="height:6.25%;font-size:1.25rem">
                        filter_size
                        <input type="number" id="filter_size" min="1" max="10240" value={{filter_size}} step="1" onchange="set_filter_size(this.value,{{image_user_conf_id}})" style="height:89%;font-size:1.25rem;width:15%" />
                    </div>
                    <div class="projection" id="projection" >
                    </div>
                </div>
            </div>
            <div class="select_page" id="select_page">
                <table>
                    <tr>
                        <td>
                            <input type="number" id="input_page_id" min="0" max="{{frame_num|add:-1}}" value="{{frame_id}}"/>
                        </td>
                        <td>
                            <input type="button" id="sub_page_id" value="跳转" onclick="jump_page({{ocr_pdf_id}},{{frame_num}})"/>
                        </td>
                        <td>
                            <input type="button" id="prior_page" value="上一帧" onclick="move2prior({{ocr_pdf_id}},{{frame_id}},{{frame_num}})"/>
                        </td>
                        <td>
                            <input type="button" id="next_page" value="下一帧" onclick="move2next({{ocr_pdf_id}},{{frame_id}},{{frame_num}})"/>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <script>
            var labeling_mode="recommend_select";
            var dict_polygon_feature = new Array();
            class GdboxConfigure {
                constructor(current_user, gMap){
                    this.current_user=current_user;
                    this.gMap=gMap;
                    this.lineWeight=1;
                    this.current_user_color="#0000ff"; new gDBox.Layer.Feature('featureLayer', {zIndex: 2, transparent: true})  // color assing to current_user (blue)
                    this.nonactive_current_index=0;  // color index assign to non-active user
                    this.nonactive_color_list=[
                        {"color_name":"red","color_value":"#ff0000"},
                        {"color_name":"green","color_value":"#00ff00"},
                    ];
                    // user_name feature_style map
                    this.feature_style_set={
                    };  
                    this.feature_style_set[this.current_user] = new gDBox.Style({strokeColor: this.current_user_color, lineWeight: this.lineWeight});
                    // user_name layer map
                    this.layer_set={
                    };
                    this.layer_set[this.current_user]= new gDBox.Layer.Feature(this.current_user, {zIndex: 2, transparent: true});
                    this.gMap.addLayer(this.layer_set[current_user]);

                }
                get_style(user_name){
                    if(user_name!=this.current_user){
                        //non-activate user
                        if(this.feature_style_set.hasOwnProperty(user_name)){
                            return this.feature_style_set[user_name];
                        }else{
                            this.feature_style_set[user_name]
                                =new gDBox.Style(
                                {
                                    strokeColor: this.nonactive_color_list[this.nonactive_current_index]["color_value"],
                                    lineWeight: this.lineWeight
                                }
                            );

                            return this.feature_style_set[user_name];
                        }
                    }else{
                        //current user
                        return this.feature_style_set[user_name];
                    }
                }
                get_layer(user_name){
                    if(user_name!=this.current_user){
                        if(this.layer_set.hasOwnProperty(user_name)){
                            return this.layer_set[user_name];
                        }else{
                            this.layer_set[user_name] = new gDBox.Layer.Feature(user_name, {zIndex: 2, transparent: true, opacity: false});
                            this.gMap.addLayer(this.layer_set[user_name]);
                            return this.layer_set[user_name];
                        }

                    }else{
                        return this.layer_set[user_name];
                    }
                }

            }
            $(document).ready(function() {
                while(typeof gDBox == "undefined"){
                    
                }
                var div_img=document.getElementById("page_image_disp");
                var div_width = div_img.offsetWidth;
                var div_height = div_img.offsetHeight;
                let is_vertical = {{is_vertical}};
                tar_size = cal_size(div_width,div_height,{{ori_width}},{{ori_height}},is_vertical);               

                let tar_width = tar_size["width"];
                let tar_height = tar_size["height"];
                // 修改div
                if((-tar_width+div_width)>5){
                    let div_page = document.getElementById("page_image");
                    let page_width = div_page.offsetWidth;
                    div_img.style.width  = ((tar_width+5.0)/page_width*100) + "%";
                    let div_tool = document.getElementById("page_image_tool");
                    div_tool.style.width = ((page_width-tar_width-10.0)/page_width*100) + "%";
                }

                //tar_room = Math.max(tar_width,tar_height);
                //显示页面布局
                if({{is_vertical}} ==true){
                    document.getElementById("document_direction").value = "vertical";
                }else{
                    document.getElementById("document_direction").value = "horizontal";
                }
                // 显示尺度信息
                document.getElementById("image_info").innerHTML
                    ="frame_id:"+{{frame_id}}
                    +"&nbsp&nbsp frame_num:"+{{frame_num}}
                    +"&nbsp&nbsp image_id:"+{{image_id}}
                    +"&nbsp&nbsp ori_width:"+{{ori_width}}
                    +"&nbsp&nbsp ori_height:"+{{ori_height}}
                    +"&nbsp&nbsp tar_width:"+tar_width
                    +"&nbsp&nbsp tar_height:"+tar_height
                    +"&nbsp&nbsp div_width:"+div_width
                    +"&nbsp&nbsp div_height:"+div_height;
                // 常用样式声明
                // 容器对象声明
                gMap = new gDBox.Map('page_image_disp', {w:tar_width, zoom: tar_width, cx: 0, cy: tar_height/2-div_height/2, zoomMax: tar_width* 10, zoomMin: tar_width / 10});
                // 设置当前操作模式为‘drawRect’
                gMap.setMode('drawRect', gFetureStyle);
                //gMap.setMode('pan', gFetureStyle);
                // 图片层实例\添加
                let gImageLayer = new gDBox.Layer.Image('img', "/ocr/labeling/get_image/?frame_id={{image_id}}&tar_width="+tar_width+"&tar_height="+tar_height, {w:tar_width, h: tar_height}, {zIndex: 1});
                gMap.addLayer(gImageLayer);
                // 矢量层实例\添加
                //let gFeatureLayer = new gDBox.Layer.Feature('featureLayer', {zIndex: 2, transparent: true});
                //gMap.addLayer(gFeatureLayer);
                let gdboxConfigure = new GdboxConfigure("{{request.user}}", gMap);

                
                //显示所有标注框
                let user_polygon_dict = {{polygon_dict|safe}};
                for(user_polygon in user_polygon_dict){
                    let layer = gdboxConfigure.get_layer(user_polygon);
                    let style = gdboxConfigure.get_style(user_polygon);
                    for(polygon in user_polygon_dict[user_polygon]){
                        let elem = user_polygon_dict[user_polygon][polygon];
                        let polygon_points = JSON.parse(elem['points']);
                        let polygon_id = elem['polygon_id'];
                        //rotate the label 
                        let rotate={{current_rotate}};
                        polygon_rotated = rotate_polygon(polygon_points,rotate,{{ori_width}},{{ori_height}});
                        //map it into feature layer
                        polygon_map = img2gdbox_map(polygon_rotated, tar_width,tar_height,{{ori_width}},{{ori_height}});
                        add_polygon_disp(layer, style, polygon_map, polygon_id, user_polygon);
                    }
                }
                gMap.events.on('geometryDrawDone', function (type, points) {
                    let select_points = gdbox2img_map(points, tar_width, tar_height,{{ori_width}},{{ori_height}});
                    rotate_points = rotate_polygon(select_points, -1*{{current_rotate}}, {{ori_width}}, {{ori_height}});
                    switch(labeling_mode){
                        case "manual_select":
                            let polygon_id = add_labeling_polygon({{image_id}}, rotate_points, points, gdboxConfigure.get_layer("{{request.user}}"), gdboxConfigure.get_style("{{request.user}}"));
                            break;
                        case "recommend_select":
                            let polygon_update = rough_labeling({{image_id}}, rotate_points, gdboxConfigure.get_layer("{{request.user}}"), gdboxConfigure.get_style("{{request.user}}"), {{current_rotate}}, {{ori_width}}, {{ori_height}}, tar_width, tar_height); 
                            break;
                        case "merge_select":
                            let polygon_merged = merge_labeling({{image_id}}, select_points, gdboxConfigure.get_layer("{{request.user}}"), gdboxConfigure.get_style("{{request.user}}"), {{current_rotate}}, {{ori_width}}, {{ori_height}}, tar_width, tar_height); 
                            break;
                        case "clear_select":
                            let labeling_delete = delete_region({{image_id}}, rotate_points, gdboxConfigure.get_layer("{{request.user}}"));
                            break;
                        case "default":
                            alser("labeling_mode err!");
                    }
                });
                gMap.events.on(
                    'geometryEditDone', 
                    function (type, activeFeature, points) {
                        if(activeFeature.data.create_user_id!="{{request.user}}"){
                            //alert("数据不属于当前用户");
                            activeFeature.show();
                        }else{
                            console.log(points);
                            alter_polygon_by_id(activeFeature.id, points, tar_width, tar_height, {{ori_width}}, {{ori_height}}, {{current_rotate}});
                            activeFeature.update({points});
                            activeFeature.show();
                        }
                    }
                );
                // feature-reset监听
                gMap.events.on(
                    'featureStatusReset',
                    function () {
                        gMap.mLayer.removeAllMarkers();
                    }
                );
                gMap.events.on('featureSelected', function (feature) {
                    let cFeature = feature;
                    console.log(cFeature);
                    if(cFeature.data['create_user_id']!="{{request.user}}"){
                        return;
                    }
                    // 删除按钮添加
                    const featureBounds = cFeature.getBounds();
                    const leftTopPoint = featureBounds[0]; // 边界坐上角坐标
                    let deleteMarker = new gDBox.Marker(`marker-${cFeature.id}`,
                        {
                            src: '/static/image/delete.png',
                            x: leftTopPoint.x,
                            y: leftTopPoint.y,
                            offset: {
                                x: 0,
                                y: 0
                            },
                            featureId: cFeature.id
                        }
                    );
                    gMap.mLayer.addMarker(deleteMarker);

                    deleteMarker.regEvent('click', function () {
                        // 执行选中元素删除
                        /*
                        let gFeatureLayer = gdboxConfigure.get_layer("{{request.user}}");
                        gFeatureLayer.removeFeatureById(this.info.featureId);
                        // 对应删除标注层中删除（x）icon
                        gMap.mLayer.removeAllMarkers();
                        console.log(cFeature.id);
                        */
                        delete_polygon_by_id(cFeature.id, gdboxConfigure.get_layer("{{request.user}}"), this.info.featureId, gMap);
                    });
                });
                function onDocKeydown(e) {
                    e = e || window.event;
                    if (e.ctrlKey && e.keyCode==70) {　　　//快捷键 ctrl +F
                        labeling_mode = "manual_select" ;
                        var model_ratio = document.getElementById("manual_select");
                        model_ratio.checked=true;
                        return false;
                    }
                    if (e.ctrlKey && e.keyCode==65) {　　　//快捷键 ctrl +A
                        labeling_mode = "recommend_select" ;
                        var model_ratio = document.getElementById("recommend_select");
                        model_ratio.checked=true;
                        return false;
                    }
                    if (e.ctrlKey && e.keyCode==67) {　　　//快捷键 ctrl +C
                        labeling_mode = "merge_select" ;
                        var model_ratio = document.getElementById("merge_select");
                        model_ratio.checked=true;
                        return false;
                    }
                    if (e.ctrlKey && e.keyCode==68) {　　　//快捷键 ctrl +D
                        labeling_mode = "clear_select" 
                        var model_ratio = document.getElementById("clear_select");
                        model_ratio.checked=true;
                        return false;
                    }
                    if (e.ctrlKey && e.keyCode==83) {　　　//快捷键 ctrl +S
                        tip = document.getElementById("page_image_tool_tip");
                        tip.innerHTML="<font color=\"blue\">w:"+"你错误的按下了S键"+"<br></font>"+tip.innerHTML;

                        return false;
                    }
                }
                document.onkeydown = onDocKeydown;

                window.onresize = function () {
                    gMap && gMap.resize();
                };
            });
        </script>
    </body>
</html>
