<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>古琴OCR数据库</title>
    <link href="/static/css/ocr_index.css?time='+new Date().getTime()+'" rel="stylesheet" type="text/css" />
    <script src="/static/js/ocr_index.js?time='+new Date().getTime()+'"></script>
    <link rel="icon" href="/static/image/favicon.ico" mce_href=”/static/image/favicon.ico” type=”image/x-icon”>
    <link rel="bookmark" href="/static/image/favicon.ico" mce_href=”/static/image/favicon.ico” type=”image/x-icon”>
</head>
<body>
    <div class="login" id="login" >
        <a href="/web/index/">Home</a>
        {% include "login_info_base.html" %}
    </div>

    <div class="main" id="main">
        <div class="title" id="title">
            古琴资料OCR数据库
        </div>
        <div class="upload" id="upload">
            <form enctype="multipart/form-data" action="/ocr/addpdfs/" method="POST">
                {% csrf_token %}
                <input type="file" name="upload_pdf" multiple="multiple"/>
                {% csrf_token %}
                <input type="submit" value="上传"/>
            </form>
        </div>
        <div class="ocrPDFList" id="ocrPDFList">
            <table class="ocrPDFTable" id="ocrPDFTable" border="1">
                <thead>
                    <tr style="font-size:1rem;line-height:1">
                        <th>文档</th>
                        <th>帧数</th>
                        <th>当前帧</th>
                        <th>样本总数</th>
                        <th>用户样本总数</th>
                        <th>参与用户数</th>
                        <th>操作选项</th>
                        <!--<th>操作选项</th>-->
                        <th>类型备注</th>
                    </tr>
                </thead>
                {% for ocrPDF in statistic %}
                <tr>
                    <td style="color:blue;font-size:1rem;line-height:2">
                        {{ocrPDF.title}}
                    </td> 
                    <td style="font-size:1rem;line-height:2">
                        {{ocrPDF.frame_num}}
                    </td>
                    <td style="font-size:1rem;line-height:2">
                        {{ocrPDF.current_frame}}
                    </td>
                    <td style="font-size:1rem;line-height:2">
                        {{ocrPDF.count_all}}
                    </td>
                    <td style="font-size:1rem;line-height:2;color:purple;">
                        {{ocrPDF.count_user}}
                    </td>
                    <td>
                        {{ocrPDF.assist_num|add:1}}
                    </td>
                    <td style="color:blue;font-size:1rem;line-height:2">
                        <a href="/ocr/labeling/?id={{ocrPDF.id}}">标注</a>
                    </td>
                    <!--
                    <td style="color:blue;font-size:1rem;line-height:2">
                        <a href="/ocr/delete_ocr_labeling/?class_type=ocr_pdf&id={{ocrPDF.id}}">删除</a>
                    </td> -->
                    <td>
                        自创样本
                    </td>
                </tr>
                {% endfor %}

                {% for ocr_assist in ocr_assist_set %}
                <tr>
                    <td style="color:blue;font-size:1rem;line-height:2">
                        {{ocr_assist.ocrPDF.title}}
                    </td> 
                    <td style="font-size:1rem;line-height:2">
                    </td>
                    <td style="font-size:1rem;line-height:2">
                    </td>
                    <td>
                        {{ocr_assist.ocrPDF.assist_num|add:1}}
                    </td>
                    <td style="color:blue;font-size:1rem;line-height:2">
                        <a href="/ocr/labeling/?id={{ocr_assist.ocrPDF.id}}">协助标注</a>
                    </td>
                    <!--
                    <td style="color:blue;font-size:1rem;line-height:2">
                        <a href="../delete_ocr_labeling/?class_type=ocr_assist&id={{ocr_assist.id}}">删除</a>
                    </td> -->
                    <td>
                        协助:{{ocr_assist.create_user_id}}
                    </td>
                </tr>
                {% endfor %}

                {% for assist_request_in in assist_request_in_set %}
                <tr>
                    <td style="color:red;font-size:1rem;line-height:2">
                        {{assist_request_in.title}}
                    </td> 
                    <td style="font-size:1rem;line-height:2">
                        
                    </td>
                    <td style="font-size:1rem;line-height:2">
                        
                    </td>
                    <td>
                    
                    </td>
                    <td style="color:red;font-size:1rem;line-height:2">
                        <a style="color:red;font-size:1rem;line-height:2" href="/ocr/ocrPDF_assist_in_accept/?owner={{assist_request_in.owner}}&title={{assist_request_in.title}}&create_user_id={{assist_request_in.create_user_id}}">通过</a>
                        <a style="color:red;font-size:1rem;line-height:2" href="/ocr/ocrPDF_assist_in_deny/?owner={{assist_request_in.owner}}&title={{assist_request_in.title}}&create_user_id={{assist_request_in.create_user_id}}">拒绝</a>
                    </td>
                    <td style="color:red;font-size:1rem;line-height:2">
                        协助申请:{{assist_request_in.create_user_id}}
                    </td>
                </tr>
                {% endfor %}
                
                {% for assist_request_out in assist_request_out_set %}
                <tr>
                    <td style="font-size:1rem;line-height:2">
                        {{assist_request_out.title}}
                    </td> 
                    <td style="font-size:1rem;line-height:2">
                        
                    </td>
                    <td style="font-size:1rem;line-height:2">
                        
                    </td>
                    <td>
                    
                    </td>
                    <td style="font-size:1rem;line-height:2">
                        <a style="font-size:1rem;line-height:2" href="/ocr/ocrPDF_assist_out_delete/?owner={{assist_request_out.owner}}&title={{assist_request_out.title}}&create_user_id={{assist_request_out.create_user_id}}">删除</a>
                    </td>
                    <td style="color:red;font-size:1rem;line-height:2">
                        {{assist_request_out.owner}}|状态:{{assist_request_out.status}}
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>  
        <div class="ocrPDFAssistRequest" id="ocrPDFAssistRequest">
            <a href="/ocr/ocrPDF_assist_request">协助其他用户标注</a>
        </div>
    </div>
    <script>
        console.log({{statistic|safe}});
    </script>
</body>
<html>

